@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* *{
    padding: 0;
    margin: 0;
} */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    overflow: hidden;
}

.card-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    align-items: flex-start;
}

.post {
    background: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

h2, p {
    margin: 0;
}

h2 {
    margin-bottom: 1rem;
}

.readmore-text {
    --max-lines: 3;
    --line-height: 1.4;
    max-height: calc(var(--max-lines) * 1em * var(--line-height));
    line-height: var(--line-height);
    overflow: hidden;
    position: relative;
}

.readmore-text::before {
    content: "";
    position: absolute;
    height: calc(1em * var(--line-height));
    width: 100%;
    bottom: 0;
    pointer-events: none;
    /* background: linear-gradient(to bottom, transparent, white); */
}

.readmore-button {
    appearance: none;
    border: 1px solid black;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px; 
}

.readmore-button:hover {
    background-color: #9f9fff;
}

.readmore-button::before {
    content: "Read more";
}

.readmore-button:checked:before {
    content: "Read less";
}

.readmore-text:has(+ .readmore-button:checked) {
    max-height: none;
}

.photo {
    width: 100%;
    align-self: center;
}




@media (max-width: 768px) {
    .card-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem;
        align-items: flex-start;
    }

}

@media (max-width: 400px) {
    .card-group {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: .5rem;
        align-items: flex-start;
    }

}