@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    padding: 1rem;
    background: #343F4F;
    font-family: 'Poppins', sans-serif;
    
}

.readmore-container {
    display: flex;
    flex-direction: column;
    color: #111;
    gap: 1em;
}

.container {
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    line-height: 1.4rem;
    transition: box-shadow .3s;
    transition: border-radius .3s;
}

.container:hover {
    border: 1px solid #aaa;
    border-radius: 40px 10px 10px 10px;
    box-shadow: 0 0 12px rgba(33, 33, 33, .2);   
    /* box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,.5); */
}

.readmore-button {
    color: #0984e3;
    cursor: pointer;
}

.readmore-text {
    display: none;
}

.readmore-text--show {
    display: inline;
}